{% section %}

  <div class="tabs">
    <ul class="tabs__nav">
      {% for tab in settings.tabs %}
        <li class="tabs__nav-item {% if tab.active %}is-active{% endif %}">
          <a href="#{{ tab.id }}">{{ tab.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="tabs__content">
      {% for tab in settings.tabs %}
        <div class="tabs__content-item" id="{{ tab.id }}">
          {{ tab.content }}
        </div>
      {% endfor %}
    </div>
  </div>

{% endsection %}
